@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/*----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poiret One", sans-serif;
}

/*--SEPARADOR--*/

.separador {
    color: white;
    font-size: 30px;
    background-color: #C6951A;
    text-align: center;
    padding: 50px;
}

.separador a{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px;
}

/*!----HEADER----*/

header{
    background-color: #213B30;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

header nav ul li{
    display: inline-block;
    margin: 10px 5px 10px 5px;/*--del bolde hacia afuera--*/

}
header nav ul li a{
    text-decoration: none;
    color: #C6951A;
    font-weight: 700;
    font-size: 20px;
}
header nav ul li a:hover{
    color: white;
}

.dropdown{
    display: none;
}
.dropdown button{
    color:#C6951A;
    background-color: #213B30;
}
.dropdown-menu{
    background-color: #213B30;
}
.btn:hover {
    background-color: #213B30;
}
/*!----FOOTER----*/

footer {
    background-color: #213B30;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
footer img{
    width: 150px;
    height: 150px;
}

footer div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer div div{
    display: flex;
    flex-direction: row;
}
footer div h3{
    color: #C6951A;
}
footer div div a{
    text-decoration: none;
    color:#C6951A;
    font-size: 17px;
    padding-left: 10px;
}
footer div div img{
    width: 30px;
    height: 30px;
    padding: 3px;
}
footer a img{
    width: 70px;
    height: 70px;
}

/*--boton de whatsapp que nos sigue--*/

.fixed {
    position: fixed;
    bottom: 25px;
    right: 25px;
}
.fixed img{
    width: 70px;
    height: 70px
}


/*!----MAIN-INDEX----*/

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.hero .slogan {
    position: absolute;
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.carousel, .carousel-inner, .carousel-item {
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100vh;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-inner {
    margin: 0;
    padding: 0;
}

.carousel-control-prev, .carousel-control-next {
    z-index: 1;
}

.owl-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-container .item {
    width: 100%;
    height: auto; 
    overflow: hidden;
}

.vercarta {
    height: auto; /* Permite ajustar la altura según el contenido */
    min-height: 80vh; /* Asegura que tenga al menos el 80% de la altura de la pantalla */
    background-color: #213B30;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    overflow: hidden; /* Evita desbordamientos */
    padding: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
.item img {
    width: 100%; /* Ajusta al ancho del contenedor */
    max-width: 300px; /* Evita que sea más grande de lo necesario */
    height: auto; /* Mantén la proporción de la imagen */
    border-radius: 10px;
}

.vercarta div a{
    border: 2px solid #C6951A;
    color: #C6951A;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}
.vercarta div a:hover{
    background-color: #C6951A;
    color: #213B30;
}

.reserva{
    display: flex;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px;
    min-height: 80vh;
}
.reserva div{
    height: 100px;
    width: 50%;
}
.reserva h3{
    font-size: 25px;
}
.reserva div p{
    font-size: 20px;
}
.reserva div a{
    border: 2px solid #C6951A;
    color: #C6951A;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}
.reserva div a:hover{
    background-color: #C6951A;
    color: white;
}


.direccion{
    height: 90vh;
    display: flex;
}
.izquierdad{
    flex: 1;
    background-color: #213B30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.izquierdad p{
    font-size: 20px;
    color: #C6951A;
}
.derechad{
    flex: 1;
    background-image: url(../img/ubicacion-index.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.direccion div p{
    font-size: 20px;
}
.direccion div iframe{
    margin: 10px;
}

.quienessomosi{
    height: 90vh;
    display: flex;
}
.izquierdaq{
    flex: 1;
    background-image: url(../img/quienes-somos-index.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.izquierdaq p{
    font-size: 20px;
    color: white;
}
.derechaq{
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quienessomosi div a{
    border: 2px solid #213B30;
    color: #213B30;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    background-color: #C6951A;
}
.quienessomosi div a:hover{
    background-color: white;
    color: #C6951A;
}

/*!----MAIN-LACARTA----*/

.la-carta{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.carta{
    width: 90%;
    border: 2px solid black;
    padding: 40px;
}


/*!----MAIN-QUIENESSOMOS----*/

.quienessomos{
    display: flex;
    height: 90vh;
}
.izquierda{
    flex: 1;
    background-image: url(../img/quienes-somos1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container div h3{
    font-size: 25px;
}
.derecha{
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.derecha p{
    padding-left: 80px;
    padding-right: 80px;
}


.quienessomos1{
    display: flex;
    height: 90vh;
}
.izquierda1{
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.izquierda1 p{
    padding-left: 80px;
    padding-right: 80px;
}
.izquierda1 ul li a{
    text-decoration: none;
    color: black;
}
.derecha1{
    flex: 1;
    background-image: url(../img/quienes-somos3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quienessomos2{
    display: flex;
    height: 90vh;
}
.izquierda2{
    flex: 1;
    background-image: url(../img/quienes-somos2.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.derecha2{
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.derecha2 p{
    padding-left: 80px;
    padding-right: 80px;
}
.derecha2 a{
    border: 2px solid #C6951A;
    color: #C6951A;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.derecha2 a:hover{
    background-color: #C6951A;
    color: white;
}


/*!----MAIN-CONTACTO----*/

form{
    padding: 80px;

}

.grid{
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "nombre apellido mail"
    "telefono pais ."
    "comentarios comentarios comentarios"
    ;
}
.nombre { 
    grid-area: nombre; 
}
.apellido {
    grid-area: apellido;
}
.mail {
    grid-area: mail;
}
.telefono {
    grid-area: telefono;
}
.pais {
    grid-area: pais;
}
.comentarios {
    grid-area: comentarios;
}

.boton{
    display: flex;
    justify-content: center;

}

.mb-3{
    padding-left: 40px;
    padding-right: 40px;
}

form div button{
    border: 2px solid #C6951A;
    color: #C6951A;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}
form div button:hover{
    background-color: #C6951A;
    color: white;
}


/*!--MEDIA QUERIES--*/
@media screen and (max-width: 1350px) {
    .quienessomos {
        flex-direction: column;
    }
}

@media screen and (max-width: 1172px) {
    .hero {
        width: 100%;
        overflow: hidden;
    }
    
    .hero .owl-container {
        width: 100%;
        margin: 0 auto;
    }

    .grid{
        padding-top: 20px;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "nombre apellido"
        "mail telefono"
        "pais ."
        "comentarios comentarios"
        ;
    }
}
@media screen and (max-width: 1150px) {
    .direccion div iframe {
        width: 90%;
    }
}


@media screen and (max-width: 992px) {
    header h1 {
        font-size: 2.5rem;
    }

    .vercarta {
        padding: 10px;
    }
    .item img {
        max-width: 200px;
    }

    .reserva div {
        width: 80%;
    }
    .quienessomos1 {
        flex-direction:column-reverse;
    }
}

@media screen and (max-width: 768px) {
    .dropdown{
        display: block;
    }
    nav ul{
        display: none;
    }
    header{
        align-items: center;
        padding: 15px;
        flex-direction: row;
        justify-content: space-between;
    }


    .hero {
        height: 60vh;
    }

    .vercarta {
        min-height: 60vh;
    }

    .item {
        padding: 10px;
    }

    .item img {
        max-width: 150px;
    }

    .reserva {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        gap: 20px;
    }


    .reserva h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .reserva p {
        font-size: 16px;
        line-height: 1.5;
        max-width: 100%;
        margin: 0 0 10px 0;
    }
    .reserva div a{
        margin-top: 100px ;   
    }


    .quienessomosi .derechaq {
        display: none;
    }
    .quienessomosi .izquierdaq {
        flex: 1 1 100%;
        width: 100%;
    }

    .derecha p, .izquierda1 p, .derecha2 p, .izquierda1 ul li a {
        padding: 10px;
        font-size: 16px;
        line-height: 1.4;
    }

    form{
        padding: 40px;
    }
    .grid{
        padding-top: 10px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "nombre"
        "apellido"
        "mail"
        "telefono"
        "pais"
        "comentarios"
        ;
    }
}

@media screen and (max-width: 582px) {
    .quienessomos2{
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    .vercarta {
        padding: 5px;
    }

    .item img {
        max-width: 100px;
    }

    .fixed img {
        width: 50px;
        height: 50px;
    }

    footer {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    footer img {
        width: 80px;
        height: 80px;
    }

    .reserva div {
        width: 100%;
    }
    .reserva div a{
        margin-top: 130px ;   
    }

    .direccion, .quienessomosi {
        flex-direction: column-reverse;
        text-align: center;
    }

    .carta {
        padding: 20px;
    }

}

@media screen and (max-width:450px){
    .carta{
        border: 2px solid black;
        padding: 10px;
    }

    form{
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .hero .slogan {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .hero .slogan {
        font-size: 1.5rem;
    }
}