//* VARIABLES
$color-1: #213B30;
$color-2: #C6951A;
$color-3: black;
$color-4: white;

//* LISTAS

//* OPERACIONES

//* MAPAS

//* EXTEND clase SASS II
%boton1{

}
%boton2{

}
%boton3{

}

//* MIXIN clase SASS II



//* SEPARADOR