@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/*----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poiret One", sans-serif;
}

/*--SEPARADOR--*/

.separador {
    color: $color-4;
    background-color: $color-2;
    text-align: center;
    padding: 50px;
    h2{
        font-size: nth($font-size, 2 );
    }
}

.separador a{
    background-color: $color-3;
    text-decoration: none;
    color: $color-4;
    padding: 10px;
}