footer{
    background-color: $color-1;
    height: 200px;
    @include flex (flex, space-evenly,center);
    img{
        width: 150px;
        height: 150px;
    }
    div{
        @include flex(flex,space-around,center);
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        h3{
            color: $color-2;
            font-size: nth($font-size, 3 );
        }
        div{
            display: flex;
            flex-direction: row;
            img{
                width: 30px;
                height: 30px;
                padding: 3px;
            }
            a{
                text-decoration: none;
                color: $color-2;
                font-size: 17px;
                padding-left: 10px;
            }
        }
    }
    a{
        img{
            width: 70px;
            height: 70px;
            transition: 0.5s;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}