header{
    background-color: $color-1;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    h1{
        color: $color-4;
        font-weight: bold;
        font-size: nth($font-size, 1);
    }
    nav{
        ul{
            li{
                display: inline-block;
                margin: 10px 5px 10px 5px;/*--del borde hacia afuera--*/
                a{
                    text-decoration: none;
                    color: $color-2;
                    font-weight: 700;
                    font-size: nth($font-size, 4 );
                    transition: 0.5s;
                    &:hover{
                        color: $color-4;
                    }
                }
            }
        }
    .dropdown{
        display: none;
        .btn{
                color:$color-2;
                background-color: $color-1;
                &:hover{
                    background-color: $color-1;
            }
        }
        .dropdown-menu{
            background-color: $color-1;
            }
    }
    }
}