/*!----MAIN-INDEX----*/
main{
    .hero{
        position: relative;
        @include flex(flex,center,center);
        text-align: center;
        z-index: 1;
        .carousel {
            margin: 0;
            padding: 0;
            width: 100% !important;
            height: 90vh;
            overflow: hidden;
            .carousel-inner{
                margin: 0;
                padding: 0;
                width: 100% !important;
                height: 100vh;
                overflow: hidden;
                margin: 0;
                padding: 0;
                .carousel-item{
                    margin: 0;
                    padding: 0;
                    width: 100% !important;
                    height: 100vh;
                    overflow: hidden;
                    transition: 1s;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .carousel-control-prev{
                z-index: 1;
            }
            .carousel-control-next{
                z-index: 1;
            }
        }
        .slogan{
            position: absolute;
            color: $color-3;
            font-size: nth($font-size, 2 );
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
            z-index: 2;
        }
    }
    .vercarta {
        height: auto; /* Permite ajustar la altura según el contenido */
        min-height: 80vh; /* Asegura que tenga al menos el 80% de la altura de la pantalla */
        background-color: $color-1;
        text-align: center;
        @include flex(flex,center,center);
        flex-direction: column;
        overflow: hidden; /* Evita desbordamientos */
        padding: 20px;
        
        .owl-container {
            width: 100%;
            margin: 0px;
            .owl-carousel { 
                .owl-stage{
                    margin: 0px;
                }
                .card {
                    background-color: gainsboro;
                    border-radius: 10px;
                    padding: 20px;
                    margin: 10px;
                    text-align: center;
                    overflow: hidden;
                    @extend %sombraitem;
                    img {
                        width: 100%; /* Ajusta al ancho del contenedor */
                        height: auto; /* Mantén la proporción de la imagen */
                        border-radius: 10px;
                        object-fit: cover;
                    }
                    p{
                        font-size: nth($font-size, 4);
                        margin: 0px;
                    }
                }
            }
            
            .owl-nav {
                margin: 0px;
                display: flex;
                justify-content: center;
                .owl-prev , .owl-next {
                    background-color: $color-1;
                    color: $color-2;
                    margin: 20px;
                    cursor: pointer;
                    border-radius: 5px;
                    transition: background-color 0.3s;
                    span{
                        padding: 10px 10px;
                    }
                    &:hover {
                        background-color: gainsboro;
                    }
                }
            }
        }
        
        div {
            margin-top: 20px;
            a {
                @extend %boton1;
            }
        }
    }
    
    
    .reserva{
        @include flex(flex,space-around,center);
        height: 90vh;
        text-align: center;
        padding: 50px;
        min-height: 80vh;
        div{
            height: 100px;
            width: 50%;
            h2{
                font-size: nth($font-size, 2 );
            }
            p{
                font-size: nth($font-size, 4 );
            }
        }
        div{
            height: 100px;
            width: 50%;
            a{
                @extend %boton2
            }
        }
    }
    .direccion{
        height: 90vh;
        display: flex;
        .izquierdad{
            flex: 1;
            background-color: $color-1;
            flex-direction: column;
            @include flex(flex,center,center);
            text-align: center;
            gap: 40px;
            h3{
                font-size: nth($font-size, 3 );
                color: $color-2;
            }
            iframe{
                width: 70%;
                height: 50%;
            }
        }
        .derechad{
            flex: 1;
            background-image: url(../img/ubicacion-index.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @include flex(flex,center,center);
            flex-direction: column;
            h2{
                font-weight: bold;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
                font-size: nth($font-size, 2 );
                color: $color-4;
            }
        }
    }
    .quienessomosi{
        height: 90vh;
        display: flex;
        .izquierdaq{
            flex: 1;
            background-image: url(../img/quienes-somos-index.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @include flex(flex,center,center);
            flex-direction: column;
            text-align: center;
            gap: 40px;
            h3{
                font-weight: bold;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
                font-size: nth($font-size, 3 );
                color: $color-4;
            }
            a{
                @extend %boton3;
            }
        }
        .derechaq{
            flex: 1;
            background-color: $color-4;
            @include flex(flex,center,center);
            flex-direction: column;
            h2{
                font-size: nth($font-size, 2);
            }
        }
    }
    .fixed{
        position: fixed;
        bottom: 25px;
        right: 25px;
        z-index: 1000;
        transition: 0.5s;
        &:hover{
            transform: scale(1.1);
        }
        img{
            width: 55px;
            height: 55px
        }
    }
}

/*!----MAIN-LACARTA----*/
.la-carta{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    h2{
        font-size: nth($font-size, 2 );

    }
    .carta{
        width: 80%;
        border: 2px solid black;
        padding: 45px;
    }
}

/*!----MAIN-QUIENESSOMOS----*/
main{
    .quienessomos{
        display: flex;
        height: 100vh;
        .izquierda{
            flex: 1;
            background-image: url(../img/quienes-somos1.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @include flex(flex,center,center);
            flex-direction: column;
            h2{
                font-weight: bold;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
                color: $color-4;
                font-size: nth($font-size, 2 );
            }
        }
        .derecha{
            flex: 1;
            background-color: $color-4;
            @include flex(flex,center,center);
            flex-direction: column;
            p{
                font-size: nth($font-size, 4);
                padding-left: 80px;
                padding-right: 80px;
            }
        }
    }
    .quienessomos1{
        display: flex;
        height: 100vh;
        .izquierda1{
            flex: 1;
            background-color: $color-4;
            @include flex(flex,center,center);
            flex-direction: column;
            p{
                font-size: nth($font-size, 4);
                padding-left: 80px;
                padding-right: 80px;
            }
            ul{
                li{
                    a{
                        text-decoration: none;
                        color: $color-3;
                    }
                }
            }
        }
        .derecha1{
            flex: 1;
            background-image: url(../img/quienes-somos3.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @include flex(flex,center,center);
            flex-direction: column;
            h2{
                font-weight: bold;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
                color:$color-4;
                font-size: nth($font-size, 2 );
            }
        }
    }
    .quienessomos2{
        display: flex;
        height: 100vh;
        .izquierda2{
            flex: 1;
            background-image: url(../img/quienes-somos2.JPG);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @include flex(flex,center,center);
            flex-direction: column;
            text-align: center;
            h2{
                font-weight: bold;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
                color: $color-4;
                font-size: nth($font-size, 2 );
            }
        }
        .derecha2{
            flex: 1;
            background-color: $color-4;
            @include flex(flex,center,center);
            flex-direction: column;
            gap: 40px;
            p{
                font-size: nth($font-size, 4);
                padding-left: 80px;
                padding-right: 80px;
            }
            a{
                
                @extend %boton2
            }
        }
    }
}

/*!----MAIN-CONTACTO----*/
main{
    form{
        padding: 80px;
        h2{
            font-size: nth($font-size, 2 );
        }
        h3{
            font-size: nth($font-size, 3 );
        }

        .grid{
            padding-top: 20px;
            padding-bottom: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            "nombre apellido mail"
            "telefono pais ."
            "comentarios comentarios comentarios"
            ;
            .nombre{
                grid-area: nombre; 
            }
            .apellido{
                grid-area: apellido;
            }
            .mail{
                grid-area: mail;
                .form-text{
                    font-size: nth($font-size, 5 );
                }
            }
            .telefono{
                grid-area: telefono;
            }
            .pais{
                grid-area: pais;
            }
            .comentarios{
                grid-area: comentarios;
            }
            .mb-3{
                padding-left: 40px;
                padding-right: 40px;
            }
    
            label{
                font-size: nth($font-size , 4);
            }
            
        }
        .boton{
            display: flex;
            justify-content: center;
            button{
                @extend %boton2
            }
        }
    }
}